<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 py-3 border-bottom border-secondary">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center gap-2" href="../../index.php">
      <img src="../../assets/images/brand/logo/logo-icon.svg" width="30" alt="Logo">
      <span class="fw-bold fs-4">Dasher</span>
    </a>
    <div class="ms-auto text-white">
        <span class="me-3">Bienvenue, Garagiste</span>
        <i class="bi bi-person-circle fs-4"></i>
    </div>
  </div>
</nav>